
<!DOCTYPE html>
<html>
<head>
	<title>Faculty/Staff Salaries</title>
	<style>
		#list {
			height: 10%;
		}
	</style>
	    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

</head>


<body>

<div ng-app="salariesApp" ng-controller="salariesControl">

	<table class="table table-striped table-condensed table-hover">
	    <thead>
	        <tr>
	        	<th>Name</th>
	        	<th>Salary</th>
	        	<th>Department</th>
	        	<th>Year Hired</th>
	        </tr>
	    </thead>
	    <tbody>
	    	<tr ng-repeat="x in myData | filter: paginate">
	    		<td>{{ x.FIRST_NAME + " " + x.LAST_NAME }}</td>
	    		<td>{{ x.TOT_IPED_SALARY }}</td>
	    		<td>{{ x.INSTL_ADDR1 }}</td>
	    		<td>{{ x.MOST_RECENT_HIRE_DATE }}</td>
	    	</tr>
	    </tbody>
	</table>
	<pagination total-items="totalItems" ng-model="currentPage" max-size="10" boundary-links="true" items-per-page="numPerPage" class="pagination-sm"></pagination>
</div>

    <script src="http://code.angularjs.org/1.2.16/angular.js"></script>
    <script src="http://code.angularjs.org/1.2.16/angular-resource.js"></script>
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>
    <script src="salaryScript.js"></script>


</body>
</html>

